<div class="modal-task">
  <div class="overlay">
    <div class="container">
      <div class="title">
        <div class="flex">
        <div>Edit Task</div>
        <div class="name"><%= @category.title%></div>
        </div>
        <%= link_to category_tasks_path(@category) do %>
          <i class="fa-solid fa-circle-xmark"></i>
        <% end %>
      </div>
      <div class="form">
        <%= render 'form', task: @task, url: category_task_path %>
      </div>
    </div>
  </div>
</div>
