<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <% category.errors.each do |error| %>
        <div><%= error.full_message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="field">
    <%= form.text_field :title, placeholder: "Title" %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
